[Unit]
Description=Callouts Website Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=callouts
ExecStart=/bin/bash /home/callouts/original_callouts/website/service/start_calloutswebsite.sh

[Install]
WantedBy=multi-user.target